{% extends 'master/index.html' %}

<div class="container">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for pesan in messages %}
    <div class="alert alert-success my-3">{{pesan}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="row">
        <div class="col-sm-8">
            <a href="{{url_for('AddBarcode')}}" class="btn btn-primary my-3 text-capitalize">tambah Kode barcode</a>
            <button class="btn btn-secondary my-3" onclick="window.print()">Cetak Barcode</button>
        </div>
        <div class="col-sm-4">
            <div class="input-group my-3">
                <input type="text" class="form-control" id="searchInput" aria-label="Dollar amount (with dot and two decimal places)" onkeyup="cari()">
                <span class="input-group-text">Cari</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for barcodebarang in barcodeharga %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='tempatbarcode/' + barcodebarang[3]) }}" class="card-img-top" style="height: 100%;" alt="gambar barcode">
                    <div class="card-body">
                        <h2 class="card-title">Harga : {{ barcodebarang[1] }}</h2>
                        <p class="card-text">Jumlah : {{ barcodebarang[2] }}</p>
                        <!-- Add your edit and delete buttons here -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script>
            function cari(){
                let inputan = document.getElementById('searchInput').value;
                inputan = inputan.toLowerCase();
                let x = document.getElementsByClassName("card");

                for (i=0; i < x.length; i++){
                    if (!x[i].innerHTML.toLocaleLowerCase().includes(inputan)) {
                        x[i].style.display = "none";
                    } else {
                        x[i].style.display = "block";
                    }
                }
            }
        </script>
    </div>    
    {% endblock %}
</div>