{% extends 'master/index.html' %}

<div class="container">
    {% block content %}
    {% if session.sebagai == "Admin" %}    
    <form action="{{url_for('tambahkanpengguna')}}" method="POST">
        <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="username">Akses</label>
            <select class="form-select form-control" name="akses" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="Diizinkan">Diizinkan</option>
                <option value="Tidak Diizinkan">Tidak Diizinkan</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="sebagai">Role / Sebagai</label>
            <select class="form-select form-control" name="sebagai" aria-label="Default select example">
                <option selected>Berperan Sebagai</option>
                <option value="Admin">Admin</option>
                <option value="Pedagang">Pedagang</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {%else%}
    <div class="alert alert-danger">Mohon Maaf Bagian Ini Terbatas</div>
    {%endif%}
    {% endblock %}
</div>